/* GENERAL RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
/* /GENERAL RULES */

body{
  background-image: url('../img/natural-pattern.png');
}


.container{
  width: 1000px;
  margin: 10px auto;
}

/* can i remove width attribute? */
main{
  width: 100%;
  margin: 10px 0;
}

header .top-header{
  height: 360px;
  border: 10px solid white;
  background-image: url('../img/natural-header.jpg');
  background-size: cover;
  position: relative;
}

/* LOGO AND HEADLINE */
.top-header .logo{
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-header h2{
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 110px;
}

/* /LOGO AND HEADLINE */


/* MENU */
nav.bottom-header{
  background-color: gray;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

ul.menu li{
  display: inline-block;
}

ul.menu li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 8px;
}



/* /MENU */






/* LEFT COLUMN */



main aside.left-column{
  width: 20%;
  background-color: white;
  float: left;
  border-radius: 10px;
}

aside.left-column .feed-icon{
  float: left;
  color: orange;
  padding: 3px;
  font-size: 30px;
}

aside.left-column .themes{
  float: left;
  text-transform: capitalize;
  padding: 3px;
}

aside.left-column .themes-links{
  float: left;
  list-style: none;

}

ul.themes-links a{
  float: left;
  color: green;
  text-decoration: none;
  margin: 8px 5px;
  text-transform: capitalize;
  font-weight: bold;
}


/* /LEFT COLUMN */







/* MIDDLE COLUMN */



section.main-content{
  width: 56%;
  margin: 0 2%;
  float: left;
}

.main-content .article-in-detail{
  margin: 5px auto;
  background-color: white;
  border-radius: 10px;
}

.main-content .article-in-detail h1{
  text-transform: uppercase;
  text-shadow: 2px 0 gray;
  padding: 20px;
}



/* /MIDDLE COLUMN */
















/* how could i do here for the measurements? */
.container aside.right-column{
  width: 20%;
  /* background-color: pink; */
  float: right;
}
aside.right-column .top-box{
  width: auto;
  height: auto;
  margin: 5px auto;
  background-color: green;
}
aside.right-column .middle-box{
  width: auto;
  height: auto;
  margin: 5px auto;
  background-color: lightgray;
}
aside.right-column .bottom-box{
  width: auto;
  height: auto;
  margin: 5px auto;
  background-color: blue;
}

.container footer{
  height: 20%;
  background-color: red;
}
